{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}
{% block nav %}
<!-- Top Navigation Menu -->

{% endblock %}

{% block header  %}
<div class="searchbox">
	<form method="post" action="index.php?action=search&value=search">
		<input type="text" placeholder="Zoeken..." name="keyword" style="border-color: var(--lighter-red)">
		<button class="btn btn-link btn-xs" type="submit"><i class="fa fa-search"></i></button>
	</form>
</div>
<div class="menu-icon"><a><i class="fa fa-bars fa-2x"></i></a>
        <div class="top-menu">
            <div class="menu-items">
            <ul>
				<div class="row">
					<div class="col-md-4"><img src="assets/img/logo-small.png" style="float: left; top: 0"></div>
					<div class="col-md-4"><li><a href="#favo"><h2 style="color: var(--lighter-red)">Mijn Favorieten</h2></a></li></div>
					<div class="col-md-4"><li><a class="#boodschappen" href="index.php?action=shoppinglist"><h2 style="color: var(--lighter-red)">Mijn Boodschappenlijst</h2></a></li></div>
				</div>
			</ul> 
            </div>
        </div>
</div>
</div>
  	{% for record in data %}
  	<div class="header" style="background-image: {{ record.afbeelding }}">
    	<a href="http://localhost/educom-verrukkulluk/index.php?"><img src="assets/img/logo-v2.png" class="brand-logo" /></a>
	</div>
	{% endfor %}

{% endblock %}


{% block content %}

<div class="row">
    {% for record in data %}
		<div class="col-md-6 border shadow p-3 mb-5 bg-white rounded">
			<img src="{{ record.afbeelding }}" style="width: 100%; height: 100%">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
				<span style="float: left">
                <i class="fa fa-users fa-xl">4</i><i class="fa fa-euro-sign fa-xl">{{ (record.totalprice)|number_format(2) }}</i><i class="fa fa-fire fa-xl">{{ record.totalcalories }}</i>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2 style="color: #6e8722">
						{{ record.titel }}
					</h2>
				</div>
				<div class="col-md-6">
				<span style="float: right">
					{% set avgrating = (record.avgrating)|round %}
					{% for i in 1..5 %}
						<span>
						{% if i <= avgrating %}
							{% set class = "fas" %}
						{% else %}
							{% set class = "far" %}
						{% endif %}
						<li><i class="{{ class}} fa-star fa-2x" data-value= "{{ i }}" data-gerecht="{{ record.id }}"></i></li></span>
					{% endfor %}
				</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
                <h5 style="color: #6e8722;display: inline-block; padding-right: 15px">Keuken</h5>{{ record.keuken}}
				</div>
				<div class="col-md-6">
				<span style="float: right">
                <h5 style="color: #6e8722; display: inline-block; padding-right: 15px">Type</h5>{{ record.type}}
				</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>
						{{ record.lange_omschrijving }}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					 
					<button type="submit" class="oplijstknop" data-gerecht="{{ record.id }}">
						<h5 style="color: white">Op Lijst</h5>
					</button>
				</div>
				<div class="col-md-6">

                    <i class="far fa-heart fa-2x" style="float: right"></i>
				</div>
			</div>
		</div>
    
    <div class="col-md-12 border shadow p-3 mb-5 bg-white rounded" style="margin-top: 50px; min-height: 600px">
    <!-- Tab links -->
	<div class="tab">
  		<button class="tablinks" onclick="openInfo(event, 'Ingredienten')"><h4 style="color: var(--darker-green)">Ingredienten</h4></button>
  		<button class="tablinks" onclick="openInfo(event, 'Bereidingswijze')"><h4 style="color: var(--darker-green)">Bereidingswijze</h4></button>
  		<button class="tablinks" onclick="openInfo(event, 'Opmerkingen')"><h4 style="color: var(--darker-green)">Opmerkingen</button>
	</div>

<!-- Tab content -->
	<div id="Ingredienten" class="tabcontent">

  
		<div class="row" style="margin-top: 50px;">
			{% for ingr in record.ingredient %}
			<div class="col-md-3">
			<img src="{{ ingr.afbeelding }}" style="position: relative; top: 50%; transform: translateY(-50%); width: 80px; height: 80px">
			</div>
			<div class="col-md-9">
			<p>	<h2 style="color: #6e8722">{{ ingr.naam }}</h2><h6 style="color: #6e8722">Hoeveelheid</h6>{{ ingr.verpakking}} {{ingr.eenheid}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
  
	<div id="Bereidingswijze" class="tabcontent">

		<div class="row" style="margin-top: 50px;">
  			{% for steps in record.steps %}
			<div class="col-md-2">
  			<p><i class="fa fa-hand-point-right fa-2x"></i> 
			</div>  
			<div class="col-md-10">{{ steps.tekstveld }}</p>
			</div>
  			{% endfor %}
		</div>
	</div>

	<div id="Opmerkingen" class="tabcontent">

		<div class="row" style="margin-top: 50px;">
  			{% for opm in record.remarks %}
			<div class="col-md-3">
			  	<p><img src="{{ opm.afbeelding }}" style="height:150px; width: 150px"></p>
			</div>
			<div class="col-md-9"> 
		  		<h3 style="color: #6e8722">{{ opm.user_name }}</h3>
				<p>{{ opm.tekstveld }}</p>
			</div>
  			{% endfor %}
		</div>
	</div>

	{% endfor %}
</div>
</div>
{% endblock %}


{% block footer %}
<footer id="footer">
<div class="site-footer">
	<img id="footer-img" src="assets/img/verrukkulluk-pay-off-small.png" />
	<img id="contact" src="assets/img/verrukkulluk-contact-small.png" /> 
	<br><br><br><br>
	<p>www.verrukkulluk.nl<br>
	Poststraat 2B<br>
	Sittard<br>
	info@verrukkulluk.nl</p>
</div>
</footer>

{# Dump 
       <pre>
        {{ dump(data) }}
       </pre> #} 

{% endblock %}