{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}
{% block nav %}
<!-- Top Navigation Menu -->

{% endblock %}

{% block header  %}
<div class="searchbox">
	<form method="post" action="index.php?action=search&value=search">
		<input type="text" placeholder="Zoeken..." name="keyword" style="border-color: var(--lighter-red)">
		<button class="btn btn-link btn-xs" type="submit"><i class="fa fa-search"></i></button>
	</form>
</div>
<div class="menu-icon"><a><i class="fa fa-bars fa-2x"></i></a>
        <div class="top-menu">
            <div class="menu-items">
            <ul>
				<div class="row">
					<div class="col-md-4"><img src="assets/img/logo-small.png" style="float: left; top: 0"></div>
					<div class="col-md-4"><li><a href="#favo"><h2 style="color: var(--lighter-red)">Mijn Favorieten</h2></a></li></div>
					<div class="col-md-4"><li><a href="index.php?action=shoppinglist"><h2 style="color: var(--lighter-red)">Mijn Boodschappenlijst</h2></a></li></div>
				</div>
			</ul> 
            </div>
        </div>
</div>
</div>
  {# <p style="color: white">- #}
  	<div class="header">
    	<a href="http://localhost/educom-verrukkulluk/index.php?"><img src="assets/img/logo-v2.png" class="brand-logo" /></a>
	</div>

{% endblock %}

{% block content %}
<div class="row">
    {% for record in data %}
		<div class="col-md-6 border shadow p-3 mb-5 bg-white rounded">
			<div class="row">
				<div class="col-md-12">
					<img src="{{ record.afbeelding }}" style="width: 100%; height: 360px;">
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2 style="color: #6e8722">
						{{ record.titel }}
					</h2>
				</div>
				<div class="col-md-6">
					<span style="float: right">
					{% set avgrating = (record.avgrating)|round %}
					{% for i in 1..5 %}
					<span>
						{% if i <= avgrating %}
							{% set class = "fas" %}
						{% else %}
							{% set class = "far" %}
						{% endif %}
						<li><i id="unclickable" class="{{ class }} fa-star" data-value= "{{ i }}" data-gerecht="{{ record.id }}"></i></li></span>
					{% endfor %}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ record.korte_omschrijving }}<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">					
						<button type="submit" class="smulknop"><h5 style="color: white">
						<a href="index.php?gerecht_id={{ record.id }}&action=detail" class="button">Smullen!</a></h5>
						</button>
				</div>
				<div class="col-md-6">
				<span style="float: right">
				<i class="fa fa-users"></i>4<i class="fa fa-euro-sign"></i>{{ (record.totalprice)|number_format(2) }}<i class="fa fa-fire"></i>{{ record.totalcalories }}
				</span>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}


{% block footer %}
<footer id="footer" class="site-footer">
	<img id="footer-img" src="assets/img/verrukkulluk-pay-off-small.png" />
	<img id="contact" src="assets/img/verrukkulluk-contact-small.png" /> 
	<br><br><br><br>
	<p>www.verrukkulluk.nl<br>
	Poststraat 2B<br>
	Sittard<br>
	info@verrukkulluk.nl</p>
</footer>

{# Dump 
       <pre>
        {{ dump(data) }}
       </pre> #} 

{% endblock %}